# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log
*.pot

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# =========================
# Caches / tooling
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.cache/

# =========================
# Entornos / credenciales
# =========================
.env
.env.*
*.env
*.key
*.pem

# =========================
# Virtualenv
# =========================
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Build / Dist
# =========================
dist/
build/
*.egg-info/
*.egg
*.whl
pip-wheel-metadata/
*.zip
*.tar.gz

# =========================
# Base de datos / backups
# =========================
database/
*.sql
*.dump
*.bak

# =========================
# Logs
# =========================
*.log

# =========================
# Node (por si acaso)
# =========================
node_modules/

# =========================
# Archivos temporales
# =========================
*.tmp
*.swp
*.swo