# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.log
*.pot

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# =========================
# Caches / tooling
# =========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# Entornos / credenciales
# =========================
.env
.env.*
*.env
*.key
*.pem

# =========================
# Virtualenv
# =========================
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Build / Dist
# =========================
dist/
build/
*.zip
*.tar.gz

# =========================
# DB dumps / local folders (si aplica)
# =========================
database/

# =========================
# Node (por si acaso)
# =========================
node_modules/