DJANGO_SECRET_KEY=pon_aqui_una_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=sistema_web
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=3306

BREVO_API_KEY=tu_api_key
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=tu_usuario_smtp
BREVO_SMTP_PASSWORD=tu_password_smtp

DEFAULT_FROM_EMAIL=Sistema de Gestión <tu_correo@dominio.com>
STATIC_VERSION=1.0

SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False